.sf-item{
 width: 70px;
 height: 82px;
 border-radius: 3px;
 background-color: #eeeeee;
 text-align: center !important;
 padding-top: 10px;
 margin: 0px 2px;
}

.sf-icon{
 width: 24px;
 height: 24px;
 object-fit: contain;
}
.sf-k{
 height: 19px;
 font-size: 16px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 letter-spacing: normal;
 color: #000000;
}
.sf-f{
 height: 15px;
 font-size: 12px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 letter-spacing: normal;
 color: #777777;
}

.sf-list{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}
