.sc-btn{
 width: 271px !important;
 height: 46px !important;
 border: 0px solid transparent !important;
 border-radius: 3px !important;
 background-color: #0d3ece !important;
 color: #ffffff !important;
}