.h-navbar{
margin:0px;
padding: 0px !important;
height: 39px;
display: flex;
align-items: center !important;
display: flex;
justify-content: space-between;
}
.navbar-item{
 height: 19px;
 font-size: 16px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 letter-spacing: normal;
 text-align: left;
 color: #ffffff;
 display: inline-block;
 /* margin-right: 45px; */
}