body {
  margin: 0;
  font-family:  'Montserrat regular', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat regular';
}
